.footer{
    background-color: var(--color-fifth);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-light);
    font-family: 'Montserrat';
}

.footer a {
    text-decoration: none;
    color: var(--color-light)
}